<?xml version="1.0"?>
<launch>
	
	
	<!--
	For the navigation to word, the following arguments should be set:
	
		<arg name="move_base" 		value="true"/>
		<arg name="lidar" 			value="true"/>
		<arg name="amcl" 			value="true"/>

	-->
	<include file="$(find robotican_armadillo)/launch/armadillo.launch">
		<arg name="gazebo"		    value="true"/>
		<arg name="world_name" 		value="$(find robotican_common)/worlds/building_with_elevator.world"/>
		<arg name="have_map_file" 	value="true"/>
		<arg name="map_file" 		value="$(find robotican_common)/maps/building.yaml"/>
		<arg name="x" 				value="0.0"/>
		<arg name="y" 				value="0"/>
		<arg name="move_base" 		value="true"/>
		<arg name="lidar" 			value="true"/>
		<arg name="amcl" 			value="true"/>
		<arg name="kinect2"			value="true"/>
		<arg name="moveit"			value="true"/>	
	</include>
	
	<rosparam file="$(find Navigation)/navigation/config/move_base_params.yaml" command="load" ns="move_base"/>
	
	<node name="$(anon dynparam)" pkg="dynamic_reconfigure" type="dynparam" args="set_from_parameters move_base">
    	<param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
    </node>
</launch>	
